<!DOCTYPE html>
<html>
<head>
    <title>PokemonKnow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel="stylesheet" href="pokemonknow.css">
</head>
<body>
    <h1>PokemonKnow</h1>
    
    <h2 id="clockdiv"><span class="minutes">2</span>:<span class="seconds">00</span></h2>
    
    <center>
        <div ng-app= "pokeApp" ng-controller="GuessController">

            <input type="text" id="textbox" ng-model="guess" size="50" placeholder="Start naming Pokemon..."></input>

        <div ng-repeat="poke in pokes">{{checkGuess(poke)}}</div>
        </div>
    </center>
    
    <br/><br/>
    
    <center>
        <div id="boxes" />
    </center>
    
    <script src="sprites.js"></script>
    <script src="pokemonknow.js"></script>
    <script src="pokeknow.js"></script>
    <script src="pokemon.js"></script>
   
</body>
</html>